<br/>
<div class="bio">
    <h2>Who is Daniel Pedroza?</h2>
    <p><b>Daniel Pedroza</b> is a Level Designer, Backend and Frontend Programmer and Database Enginner whose works aim to push programming
    into new realms and to give it a completely new status, while using it for artistic purposes when used in videogame creation</p>
    <p>Daniel mostly makes use of several languages when programming, such as, but not limited to Python, Java, JavaScript, HTML5, CSS, C++ (C plus plus), C#(C sharp), Lua and also possesses knowledge of Arduino. 
    As well, Daniel has knowledge of Java FX and can make good use of SQL, along with having knowledge of ASP.NET, PHP and GitHub</p>
    <p>Aside of programming knowledge, Daniel is also a video editor, having made use mostly of Camtasia Studio, but also having some knowledge of Adobe Premiere. 
    As well, he also has knowledge of some basic image edition, most experience coming from the extensive usage of GIMP and Adobe Photoshop</p>
</div>
<br/>