<br/>
<div id="contact">
<p><b>Email: </b>danielc.pedrozal@gmail.com</p>
<p><b>Phone Number: </b>705 816 0878</p>
<p><b>LinkedIn: </b>https://www.linkedin.com/in/daniel-pedroza-202b9517b/</p>
<p><b>Discord(For more informal communications): </b>Poodros/IDOEAT500#5319</p>
</div>
<br/>
