<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <header id="mainHeader">

      <a id="mainTitle" href="/">{{title}}</a>
    <p id="mainSubtitle">Welcome to {{title}}</p>
    <div class="btn-group">
      <a href="upload.hbs" id="bar-btn">Upload New Song</a>
      <button>About</button>
      <button>Contact</button>
      <a href="register.hbs" id="bar-btn">Register</a>
      <a href="login.hbs" id="bar-btn">Log In</a>
    </div>
    </header>
    <br/>
    {{{body}}}
    <br/>
    <footer id="mainFooter">
      <h1 id="mainSubtitle">I'm still working on this</h1>
      <div id="filler1">.</div>
      <p id="mainSubtitle">&copy; Daniel Pedroza 2020</p>
    </footer>
  </body>
</html>
