<br/>
<h2>Login</h2>
<form method="post">
    <fieldset class="form-group">
        <label for="username" class="col-sm-2 control-label">Username: *</label>
        <input name="username" id="username" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="password" class="col-sm-2 control-label">Password: *</label>
        <input name="password" id="password" type="password" required />
    </fieldset>

        <button class="btn btn-success offset-2">Login</button>
    <!--Social Login-->
    <a href="/google" title="Login with Google">
        <img src="https://media.discordapp.net/attachments/410227439772499970/789740375186604052/44-442110_jpg-black-and-white-library-google-logo-png.png?width=666&height=667" alt="Google" width="45px" height="45px" />
    </a>

    <a href="/facebook" title="Login with Facebook">
        <img src="https://media.discordapp.net/attachments/410227439772499970/789740262401376256/facebook_logos_PNG19754.png" alt="Facebook" width="45px" height="45px" />
    </a>
        <hr />
        Need Access? <a href="register" title="Register">Register</a>
    </fieldset>
</form>
<br/>