<br/>
<h2>Upload A New Song</h2>
<div>
    <form action="" method="POST" class="form-def-1">
    <label for="song_name">Enter Name of the Song: </label>
    <input type="text" id="song_name" name="s-name">
    <label for="song_name">Enter Name of the Album: </label>
    <input type="text" id="song_name"name="a-name">
    <label for="song_name">Browse Album Art Cover(Only JPG and PNG): </label>
    <input type="file" id="song_name" accept=".png,.jpg,.jpeg" name="a-art">
    <label for="song_name">Enter Song Artist: </label>
    <input type="text" id="song_artist"name="artist">
    <label for="song_name">Enter Release Year: </label>
    <input type="number" id="song_name" name="year">
    <label for="song_name">Browse for Song(Accepted File Types: MP3, M4A, OGG and WMV): </label>
    <input type="file" id="song_name" accept=".mp3,.m4a,.ogg,.wmv" name="s-file">
    <input type="submit" value="Submit" id="sub">
</form>
</div>
<br/>